<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <title>Mobile web - portfolio</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <meta name="keywords" content="free mobile website templates, iphone ,android, high end touch" />
        <meta name="description" content="Design 6 is a free mobile template work in all most all mobile devices. you are free to use for both commercial and non-commercial purpose by attributing to http://mobifreaks.com" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/mobilemenu.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
<body>
    {{{content}}}    

</body>
</html>
