<!DOCTYPE html>
<html>
    <head>
        <meta charset="" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <title>Mobile web - portfolio</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <meta name="keywords" content="free mobile website templates, iphone ,android, high end touch" />
        <meta name="description" content="Design 6 is a free mobile template work in all most all mobile devices. you are free to use for both commercial and non-commercial purpose by attributing to http://mobifreaks.com" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".nav-button").click(function () {
                $(".nav-button,.primary-nav").toggleClass("open");
                });    
            });
            jQuery(document).ready(function($){
                $(window).scroll(function(){
                if ($(this).scrollTop()) {
                    $('.backToTop').fadeIn('slow');
                } else {
                    $('.backToTop').fadeOut('slow');
                }
                    });
                    $('.backToTop').click(function(){
                $("html, body").animate({ scrollTop: 0 }, 500);
                //$("html, body").scrollTop(0); //Bez animacie
                return false;
                });
            });
        </script>
    </head>
<body>
    <header>

<!-- LOGO -->
        <div class="logo">
                    <a href="/">
                        <img src="http://www.vodafone.cz//webs/vodafonecz/images/logo.png" class="lg"/>
                    </a>
        </div>

<!-- NAVIGATION -->

            <button class="nav-button" tabindex="1">Toggle Navigation</button>
            <ul class="primary-nav">
            <li ><a href="http://www.vodafone.cz/kontakty/">Kontakty</a>
            </li>
            <li ><a href="https://www.vodafone.cz/firma/">Firemní sekce</a>
            </li>
            <li ><a href="http://www.vodafone.cz/telefony/page:1/?cart=set_customer_type&amp;type=consumer&amp;promo=HP:menu:Any:HSListing">Telefony</a>
            </li>
            <li ><a href="http://www.vodafone.cz/tablety/?cart=set_customer_type&amp;type=consumer">Tablety</a>
            </li>
            <li ><a href="http://www.vodafone.cz/modemy/?cart=set_customer_type&amp;type=consumer">Modemy</a>
            </li>
            <li ><a href="http://www.vodafone.cz/osobni/telefon-po-dvou-letech/?promo=menu:hsrp">Telefony pro stávající zákazníky</a>
            </li>
            <li ><a href="http://www.vodafone.cz/tarify/?cart=set_customer_type&amp;type=consumer">Tarify Red</a>
            </li>
            <li ><a href="http://www.vodafone.cz/mobilni-pripojeni/">Mobilní internet</a>
            </li>
            <li ><a href="http://www.vodafone.cz/adsl/">Internet na doma</a>
            </li>
            <li ><a href="http://www.vodafone.cz/osobni/telefony-a-tarify/roaming/?mid=tarify">Roaming</a>
            </li>
            <li ><a href="http://www.vodafone.cz/volanidozahranici/?mid=tarify">Volání do zahraničí</a>
            </li>
            <li ><a href="http://www.vodafone.cz/predplacene-karty/?type_of_card=limitovana_edice">Předplacené karty</a>
            </li>
            <li ><a href="http://www.vodafone.cz/predplacene-karty/?type_of_card=data">Předplacený internet</a>
            </li>
            <li ><a href="http://www.vodafone.cz/osobni/telefony-a-tarify/roaming/?karta">Roaming</a>
            </li>
            <li ><a href="http://www.vodafone.cz/volanidozahranici/?karta">Volání do zahraničí</a>
            </li>
            <li ><a href="https://dobijeni.vodafone.cz/?promo=Topup:cz:button">Dobíjení</a>
            </li>
            <li ><a href="http://www.vodafone.cz/osobni/telefony-a-tarify/volani/vydaje-pod-kontrolou/">Výdaje pod kontrolou</a>
            </li>
            <li ><a href="http://www.vodafone.cz/osobni/telefony-a-tarify/volani/zaruka-spokojenosti/">Záruka spokojenosti</a>
            </li>
            <li ><a href="http://www.vodafone.cz/turbo/">Turbo Internet</a>
            </li>
            <li ><a href="https://www.vodafone.cz/zakaznicky-kodex/">Zákaznický kodex</a>
            </li>
            <li ><a href="https://www.vodafone.cz/prejdete-k-nam/">Přejděte k Vodafonu</a>
            </li>
            <li ><a href="http://www.vodafone.cz/kontakty/">Kontakty</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/home/s/firemni">Firemní sekce</a>
            </li>
            <li ><a href="http://http://pece.vodafone.cz/app/home">Centrum péče</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/134/kategorie/Novi-zakaznici/s/osobni">Noví zákazníci</a>
            </li>
            <li ><a href="https://www.vodafone.cz/prejdete-k-nam/">Přechod k Vodafonu</a>
            </li>
            <li ><a href="http://nastaveni.vodafone.cz/">Nastavení telefonu</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/139,193/kategorie/Zaciname-s-chytrym-telefonem/s/osobni">Začínáme s chytrým telefonem</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/138/kategorie/Tarify-a-sluzby/s/osobni">Tarify a služby</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/133/kategorie/Internet-a-data/s/osobni">Internet a data</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/135/kategorie/Roaming-a-volani-do-zahranici/s/osobni">Roaming a volání do zahraničí</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/140/kategorie/SMS-a-MMS-zpravy/s/osobni">SMS / MMS</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/150/kategorie/Vyuctovani,-platby,-kredit/s/osobni">Vyúčtování, platby, kredit</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/150,184/a_id/1813/s/osobni">Dobití kreditu</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/137,182/kategorie/Hesla/s/osobni">Hesla</a>
            </li>
            <li ><a href="http://pece.vodafone.cz/app/answers/list/c/298/kategorie/Ztraceny-ci-odcizeny-telefon-+-SIM/s/osobni">Ztracený telefon / SIM</a>
            </li>
            <li class="parent"><a >Windows Phone</a>
                <ul>
                    <li><a href="http://tam.je/wp">Windows Phone</a></li>
                    <li><a href="http://tam.je/android">Android</a></li>
                    <li><a href="http://tam.je/iphone">iOS</a></li>
                </ul>
            </li>
            <li class="parent"><a >Android</a>
                <ul>
                    <li><a href="http://tam.je/wp">Windows Phone</a></li>
                    <li><a href="http://tam.je/android">Android</a></li>
                    <li><a href="http://tam.je/iphone">iOS</a></li>
                </ul>
            </li>
            <li class="parent"><a >iOS</a>
                <ul>
                    <li><a href="http://tam.je/wp">Windows Phone</a></li>
                    <li><a href="http://tam.je/android">Android</a></li>
                    <li><a href="http://tam.je/iphone">iOS</a></li>
                </ul>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/vydaje_pod_kontrolou/vyuctovani/">Vyúčtování / Zaplatit</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/vydaje_pod_kontrolou/chytry_prehled/">Chytrý přehled</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/vydaje_pod_kontrolou/vydaje_pod_kontrolou/">Výdaje pod kontrolou</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/nastaveni_sluzeb/vas_tarif/">Moje služby</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/layer/nastaveni_sluzeb/hlasove_sluzby/sprava_sluzby/?service=roaming&amp;service_group=voice_other/">Nastavení roamingu                     </a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/novinky_z_vodafonu/">Moje zprávy                                     </a>
            </li>
            <li ><a href="https://dobijeni.vodafone.cz/">Dobít kredit</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/loyalty/loyaty_menu/">Vodafone odměny</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/vydaje_pod_kontrolou/chytry_prehled/">Výše kreditu</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/vydaje_pod_kontrolou/historie_volani/">Historie volání</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/nastaveni_sluzeb/vas_tarif/">Moje služby</a>
            </li>
            <li ><a href="https://samoobsluha.vodafone.cz/layer/nastaveni_sluzeb/datove/sprava_sluzby/?service=data&amp;service_group=data_other/">Nastavení Internetu</a>
            </li>
            <li ><a href="http://www.vodafone.cz/kontakty/">Kontakty</a>
            </li>
            <li ><a href="http://www.vodafone.cz/mapa-pokryti/">Mapa pokrytí</a>
            </li>
            <li ><a href="http://www.vodafone.cz/turbo/">Turbo Internet</a>
            </li>
            <li ><a href="http://www.vodafone.cz/prodejny/">Prodejny Vodafone</a>
            </li>
            <li ><a href="http://www.vodafone.cz/rezervace/">Rezervace datového specialisty</a>
            </li>
            <li ><a href="http://www.vodafone.cz/muj-vodafone/">Aplikace Můj Vodafone</a>
            </li>
        </ul>
        <div class="clear"></div>
    </header> 

<!-- CONTENT -->
    <div class="content">
		<div class="mcContent">
		
	<!-- AJAX // customerbox -->
	<div class="mcAsync" id="mcCustomer">
		<p id="mcJsError"><strong>Pro plnou funkčnost webu si prosím zapněte JavaScript!</strong></p>
	</div>
	<!-- AJAX -->
	<div class="mcWrap clearfix">
<a href="#" id="mcSliderLeft">Předchozí</a> <a href="#" id="mcSliderRight">Následující</a>
		<div id="mcSliderWrap">
			<div class="mboxDefault"> 
  
  
  
  
  
  
  
  
  
  
  
  
  
<ul id="mcSlider">
<li>
<h3><a href="https://www.vodafone.cz/prejdete-k-nam/?promo=HP:Box1:Default">PŘEJDĚTE K NÁM <span>Za individuální nabídkou</span></a></h3>
<img alt="PŘEJDĚTE K NÁM" src="http://www.vodafone.cz/public/galleries/4/3054/prejdete-k-nam.png?6225abf37da3919475de45397a612315"><div class="over">
<p>Nechte nám na sebe kontakt a my vám vytvoříme takovou nabídku, která vás přesvědčí k přestupu.</p>
<a class="mcBtnViolet" href="https://www.vodafone.cz/prejdete-k-nam/?promo=HP:Box1:Default">Chci nabídku</a>
      </div>
</li>
<li>
<h3><a href="http://www.vodafone.cz/telefony/page:1/?promo=HP:Box2:Default">VÍCE NEŽ 30 TELEFONŮ <span>Se slevou až 3000 Kč</span></a></h3>
<img alt="VÍCE NEŽ 30 TELEFONŮ" src="http://www.vodafone.cz/public/galleries/3/2888/pouze-v-eshopu.gif?c8112cb51916e67d640c5b95e98700e6"><div class="over">
<p>Nakupovat v našem eShopu se vyplatí! Máme pro vás více než 30 telefonů za lepší cenu než v prodejně. A vše vám doručíme zdarma.</p>
<a class="mcBtnViolet" href="http://www.vodafone.cz/telefony/page:1/?promo=HP:Box2:Default">Nabídka telefonů</a>
      </div>
</li>

<li>
<h3><a class="external" href="http://www.vodafone.cz/telefony/sony/sony-xperia-z/?cart=set_hs_list_item&amp;type=red&amp;promo=HP:Box4:Default">Sony Xperia Z <span>Na splátky s tarifem Red</span></a></h3>
<img src="http://www.vodafone.cz/public/galleries/4/3028/sony-xperia-z--turbo.jpg?4af650bd9da9b640b8eb24fa4e1700d2"><div class="over">
<p>Pouze v eShopu pro vás máme slevu - k tarifu Red můžete získat telefon na splátky bez navýšení o 3000 Kč levněji než v prodejně.</p>
<a class="mcBtnViolet" href="http://www.vodafone.cz/telefony/sony/sony-xperia-z/?cart=set_hs_list_item&amp;type=red&amp;promo=HP:Box4:Default">Koupit v eShopu</a>
      </div>
</li>
<li>
<h3><a class="external" href="http://www.vodafone.cz/telefony/lg/lg-optimus-f6/?promo=HP:Box5:Default">LG OPTIMUS F6<span>Se slevou jen v eShopu</span></a></h3>
<img src="http://www.vodafone.cz/public/galleries/4/3005/lg_optimus_f6_black_celo.jpg?2c0cecd657736dca1b7512ea45d5bdbc"><div class="over">
<p>Ušetřete až 2400 Kč při nákupu online. Telefon s Red tarifem získáte na splátky bez navýšení ještě levněji než v prodejně.</p>
<a class="mcBtnViolet" href="http://www.vodafone.cz/telefony/lg/lg-optimus-f6/?promo=HP:Box5:Default">Koupit v eShopu</a>
      </div>
</li>
<li>
<h3><a class="external" href="http://www.vodafone.cz/telefony/samsung/samsung-galaxy-express-2/?promo=HP:Box6:Default">SAMSUNG GALAXY EXPRESS 2<span>Na splátky s tarifem Red</span></a></h3>
<img src="http://www.vodafone.cz/public/galleries/3/2863/galaxi_express_2.jpg?35545e5432452bd3fa0e46fba46207ed"><div class="over">
<p>
          Pouze v eShopu pro vás máme slevu - k tarifu Red můžete získat telefon na splátky bez navýšení o 2400 Kč levněji než v prodejně.</p>
<a class="mcBtnViolet" href="http://www.vodafone.cz/telefony/samsung/samsung-galaxy-express-2/?promo=HP:Box6:Default">Koupit v eShopu</a>
      </div>
</li>
</ul>
</div>
</div>
	</div>
		<div id="mcApp">
		<h2>Aplikace <span>Můj Vodafone</span>
</h2>
		<div class="mcBtn"> <a href="http://itunes.apple.com/cz/app/muj-vodafone/id509838162" class="mcAppStore" target="_blank">Ke stažení <br><strong>App Store</strong></a> <a href="https://play.google.com/store/apps/details?id=com.zentity.vodafone" class="mcGooglePlay" target="_blank">Ke stažení <br><strong>Google play</strong></a> </div>
	</div>
</div>
    </div>
	<br />
    <br />
<!-- FOOTER -->
    <div>  </div>
    <div><a href="#" id="toTop" class="backToTop"><img src="./images/back-to-top.png" id="back-to-top"/></a></div>
</body>
</html>
